* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Galmuri9";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/Galmuri9.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Galmuri9";
  background-color: #ffe162;
  height: 100%;
}
